/* Login.css */
.buttonSet {
    
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.contentBody button {
    background-color: transparent;
}

.buttonSet button {
    font-size: 20px;
    margin: 5px;
}

.buttonSet button:hover {
    box-shadow: 0 0 5px white, 0 0 10px rgba(255, 255, 255, 0.788),  0 0 20px rgba(255, 255, 255, 0.586);
    text-shadow: 0 0 1px white, 0 0 3px rgba(255, 255, 255, 0.524);
    color: white;
    background-color: rgb(162, 171, 183);
}