.orderNav {
    display: flex;
    justify-content: left;
    width: 100%;
}

.orderNav button {
    margin: 8px;
    padding: 8px;
    width: 96px;
    border-radius: 16px;
    background-color: #f9f9f9;
    border: 2px solid #aaa;
    cursor: pointer;
    color: #333;
}

.orderNav button:hover {
    background-color: #ccc;
    color: #333;
}