.vehicleBlock {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #aaa;
    border-radius: 15px;
    background-color: #f9f9f9;
}

.vehicleBlock div {
    min-width: 450px;
}